# Python
venv/
churnsense-backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ML models
*.pkl
model/
churnsense-backend/model/

# Environment variables
.env

# Node
node_modules/
dist/
build/

# Mac
.DS_Store
